* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #4D4C59;
  --purple: #6C63FF;
	--light-grey: #C8C8C8;
  --text-color: #9C9AB6;

  font-family: 'Poppins', sans-serif;

  font-size: 62.5%; /* 1rem = 10px */
}

body {
  width: 100vw;
  height: 100vh;
  background: url(/images/top-image.svg) top left no-repeat, url(/images/bottom-image.svg) bottom left no-repeat;
  overflow-x: hidden;
}

.sr-only{
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0 0 0 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8.2rem;

  margin-top: 15rem;
}

.col-a {
  text-align: center;
}

.col-a h1 {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 5.4rem;

  letter-spacing: 0.105rem;
  text-transform: uppercase;

  color: var(--purple);
}

.col-a #clock {
  display: inline-flex;
  gap: 2rem;
  margin-top: 4.6rem;
  
  justify-content: center;
}


.col-a .clock-label{
  justify-content: center;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;

  color: var(--text-color);
}

.col-a #data-time {
  font-weight: 400;
  font-size: 7.2rem;
  line-height: 10.8rem;

  color: var(--black);
}

.col-a #data-time {
  font-weight: 400;
  font-size: 7.2rem;
  line-height: 10.8rem;

  color: var(--black);
}

.col-a #data-time {
  font-weight: 400;
  font-size: 7.2rem;
  line-height: 10.8rem;

  color: var(--black);
}

.col-a #data-time {
  font-weight: 400;
  font-size: 7.2rem;
  line-height: 10.8rem;

  color: var(--black);
}

.col-a p {
  margin-top: 4.6rem;

  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;

  color: var(--text-color);
}
.col-a button {
  margin-top: 3.1rem;

  width: 16rem;
  height: 4.6rem;

  background: var(--purple);
  border-radius: 1rem;
  border: none;
  color: white;

  cursor: pointer;
}

.col-a .modalwrapper.active {
  visibility: visible;
  opacity: 1;
}

.col-a .modalwrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;

  background: rgba(4, 9, 17, 0.8);

  visibility: hidden;
  opacity: 0;
}

.col-a .modalwrapper .modal {
  width: min(59rem 90%);
  background: white; 
  margin: auto;
  padding: 2rem;

  border-radius: 0.8rem;

  text-align: center;
}

.col-a .modalwrapper .modal h2 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--purple);
}

.col-a .modalwrapper .modal p {
  margin-top: 1.2rem;
  margin-bottom: 2.4rem;
  color: var(--text-color);
}

.col-a .modalwrapper .modal input {
  margin-bottom: 2rem;
  padding: 1.3rem 1.6rem;
  border: 0.2rem solid var(--purple);
  border-radius: 1rem;
  outline: none;
  width: min(30.2rem, 70%);
}

.col-a .modalwrapper .modal button {
  margin-top: .8rem;
  align-items: center;
  justify-content: center;
}

button:hover{
  filter: brightness(120%);
}